<center> What common mistake or error do you often make while coding? </center>

<center><form action = '/form_action' method = post>
  <input name = 'common_mistakes_form' type = text>
  <input type = submit value = Submit>
</form></center>